In [1]:
#Various Formats of Print Function

In [2]:
# 1. Normal Type
Name = "Aditya"
age = 22
print(Name,age)

Aditya 22

In [5]:
# 2. Old Style String Formation (%)
#This is similar to the printf style of formatting in C.

Name = "Aditya"
age = 22
print("Hello, %s. You are %d years old" % (Name, age))

Hello, Aditya. You are 22 years old

In [8]:
# 3. Str. Format Method
#this method uses curly braces {} as placeholders within the string.

Name = "Aditya"
age = 22
print("Hello, {}. You are {} years old ".format(Name, age))

Hello, Aditya. You are 22 years old

In [11]:
# 4. Formatted String Literals (f-strings)
# f-strings are prefixed with an f and allow you to embed 
# expressions inside string literals using curly braces {}.

Name  = "Aditya"
age = 22
print(f"Hello, {Name}. You are {age} year old")

Hello, Aditya. You are 22 year old

In [15]:
# 5. Template Strings
# The string module's Template class provides a way to substitute values into strings.

from string import Template
template = Template("Hello, $name. You are $age years old")
print(template.substitute(name = "Aditya", age = 22))

Hello, Aditya. You are 22 years old

In [16]:
# 6. Concatenation
#Using the + operator to concatenate strings.
name = "Aditya"
age = 22
print("Hello, " + name + ". You are " + str(age) + " years old.")

Hello, Aditya. You are 22 years old.

In [23]:
# 7. Join Method
# Using the join method to concatenate strings.

name = "Aditya"
age = 22
print("".join(["Hello ", name,". You are ", str(age)," years old."]))

Hello Aditya. You are 22 years old.

In [25]:
# 8. Multiline Strings
# Using triple quotes for multiline strings, which is useful for long text.

name = "Aditya"
age = 22

message = f"""
Hello, {name},
You are {age} years old.
"""
print(message)

Hello, Aditya,
You are 22 years old.

In [28]:
# 9. Using repr for Debugging
# The repr function returns a string that would yield 
#the object with the same value when passed to eval.

x  = 10.5
print(f"The value of x is {repr(x)}")

The value of x is 10.5

In [29]:
#10. Advanced Formatting with format
# specify formatting details such as width, precision, and alignment.
value = 123.456

print("Formatted number: {:.2f}".format(value))  # 2 decimal places
print("Right aligned: {:>10}".format(value))    # Right-aligned with width 10
print("Left aligned: {:<10}".format(value))     # Left-aligned with width 10

Formatted number: 123.46
Right aligned:    123.456
Left aligned: 123.456